/**
 * DEFAULTS
 */

.alert-fixed {
	.alert {
		position: fixed;
		right: 20px;
		top: 60px;
		z-index: $zindex-modal;
		border-radius: 0;
		font-size: $font-size-sm;
		max-width: 400px;
		margin-left: 20px;

		.alert-message {
			h5 {
				text-transform: uppercase;
				font-weight: bold;
				font-size: $h6-font-size;
			}

			p:last-child {
				margin-bottom: 0;
			}		
		}

		.alert-icon {
			i {
				color: $white;
				font-size: $h3-font-size;
			}

			padding: $spacer;
			padding-left: 0;
			padding-right: 0;
			margin-left: -( $alert-padding-x );
			margin-top: -( $alert-padding-y );
			margin-bottom: -( $alert-padding-y );
			margin-right: $spacer;
			text-align: center;
			width: 60px;
			min-width: 60px;
		}		
	}


	.alert-danger, .alert-info, .alert-warning, .alert-success {
		background: rgba( $black, 0.8 );
		color: $white;
		border: 1px solid rgba( $white, 0.8 );

		a {
			color: rgba( $white, 0.7 );

			&:hover {
				color: #FF9;
			}
		}

		.close {
			position: absolute;
			top: -12px;
			right: -12px;
			text-align: center;
			background: rgba( $black, 1 );
			opacity: 1;
			border: 2px solid $white;
			color: $white;
			text-shadow: none;
			height: 30px;
			width: 30px;
			@include box-shadow( 0 2px 4px rgba( $black, 0.7 ) );
			@include border-radius( 50% );

			span {
				position: relative;
				top: -2px;
			}

			&:hover {
				opacity: 1 !important;
				border-color: $white !important;
				color: $white !important;
			}
		}

		p {
			margin-bottom: ( $spacer / 2 );
		}
	}

	.alert-danger {
		h5 {
			color: $danger;
		}

		.alert-icon {
			background: $danger;
		}
	}

	.alert-info {
		h5 {
			color: $info;
		}

		.alert-icon {
			background: $info;
		}
	}

	.alert-warning {
		h5 {
			color: $warning;
		}

		.alert-icon {
			background: $warning;
		}
	}

	.alert-success {
		h5 {
			color: $success;
		}

		.alert-icon {
			background: $success;
		}
	}	
}

/**
 * LOGIN SCREENS REPOSITION
 */

body.login-screens {
	.alert {
		top: 20px;
	}
}

/**
 * LOADING SCREEN
 */

#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: $white;
	z-index: $zindex-fixed + 1000;
	display: none;

	.background {
		background: rgba( $black, 0.65 );
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
	}

	.content {
		position: relative;
		z-index: 10;
		width: 100%;
		height: 100%;
		text-align: center;

		img {
			opacity: .2;
		}

		.content-elements {
			width: 100%;
			text-align: center;
		}

		.spinner {
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			@keyframes lds-spinner {
				0% {
					opacity: 1;
				}
			
				100% {
					opacity: 0;
				}
			}

			@-webkit-keyframes lds-spinner {
				0% {
					opacity: 1;
				}
			
				100% {
					opacity: 0;
				}
			}

			.lds-spinner {
				$box-size: 64px;
				$relation: 3;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				width: $box-size !important;
				height: $box-size !important;
				transform: translate( -($box-size/$relation), -($box-size/$relation) ) scale( $relation/10 );

				div {
					left: 94px;
					top: 48px;
					position: absolute;
					-webkit-animation: lds-spinner linear 1s infinite;
					animation: lds-spinner linear 1s infinite;
					background: #FFF;
					width: 12px;
					height: 24px;
					border-radius: 40%;
					-webkit-transform-origin: 6px 52px;
					transform-origin: 6px 52px;
			
					&:nth-child(1) {
						-webkit-transform: rotate( 0deg );
						transform: rotate( 0deg );
						-webkit-animation-delay: -0.916666666666667s;
						animation-delay: -0.916666666666667s;
					}

					&:nth-child(2) {
						-webkit-transform: rotate( 30deg );
						transform: rotate( 30deg );
						-webkit-animation-delay: -0.833333333333333s;
						animation-delay: -0.833333333333333s;
					}

					&:nth-child(3) {
						-webkit-transform: rotate( 60deg );
						transform: rotate( 60deg );
						-webkit-animation-delay: -0.75s;
						animation-delay: -0.75s;
					}

					&:nth-child(4) {
						-webkit-transform: rotate( 90deg );
						transform: rotate( 90deg );
						-webkit-animation-delay: -0.666666666666667s;
						animation-delay: -0.666666666666667s;
					}

					&:nth-child(5) {
						-webkit-transform: rotate( 120deg );
						transform: rotate( 120deg );
						-webkit-animation-delay: -0.583333333333333s;
						animation-delay: -0.583333333333333s;
					}

					&:nth-child(6) {
						-webkit-transform: rotate( 150deg );
						transform: rotate( 150deg );
						-webkit-animation-delay: -0.5s;
						animation-delay: -0.5s;
					}

					&:nth-child(7) {
						-webkit-transform: rotate( 180deg );
						transform: rotate( 180deg );
						-webkit-animation-delay: -0.416666666666667s;
						animation-delay: -0.416666666666667s;
					}

					&:nth-child(8) {
						-webkit-transform: rotate( 210deg );
						transform: rotate( 210deg );
						-webkit-animation-delay: -0.333333333333333s;
						animation-delay: -0.333333333333333s;
					}
			
					&:nth-child(9) {
						-webkit-transform: rotate( 240deg );
						transform: rotate( 240deg );
						-webkit-animation-delay: -0.25s;
						animation-delay: -0.25s;
					}

					&:nth-child(10) {
						-webkit-transform: rotate( 270deg );
						transform: rotate( 270deg );
						-webkit-animation-delay: -0.166666666666667s;
						animation-delay: -0.166666666666667s;
					}

					&:nth-child(11) {
						-webkit-transform: rotate( 300deg );
						transform: rotate( 300deg );
						-webkit-animation-delay: -0.083333333333333s;
						animation-delay: -0.083333333333333s;
					}

					&:nth-child(12) {
						-webkit-transform: rotate( 330deg );
						transform: rotate( 330deg );
						-webkit-animation-delay: 0s;
						animation-delay: 0s;
					}

				}				
			}
		}
	}
}