/**
 * -----------------------------------------------------------------------------------------------
 * BOOTSTRAP FORM ELEMENTS 'REWIRE'
 * -----------------------------------------------------------------------------------------------
 */

.form-elements {
	.card {
		border: 0;
		margin-bottom: $grid-gutter-width;
		@include border-radius( 0 );
		@include box-shadow( 0 1px 3px rgba( $black, 0.2 ) );

		.card-body {

			h4 {
				font-weight: 200;
				color: $gray-500;
				margin: 0 0 $spacer;
			}

			.form-row:last-child {
				@include media-breakpoint-up( md ) {
					.form-group {
						margin-bottom: 0;
					}
				}

				@include media-breakpoint-down( md ) {
					.form-group:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.mandatory {
	font-weight: bold;
	color: $danger;
}

.buttons-set {
	text-align: center;
	margin-bottom: $spacer;
	padding: $spacer;

	button {
		.fa {
			margin-right: 5px;
		}
	}
}

/**
 * MODAL ADD PRODUCT AND ADD NEW PRODUCT TWEAK
 */

#modal-add-product, #modal-add-new-product {
	select + { @include select2-height( 35px ) };
	select#modal_product_id + { @include select2-height( 44px, $h5-font-size ) };

	/**
	 * DROPDOWN MENU FONT SIZE
	 */
	.dropdown-menu {
		font-size: $font-size-sm;
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * FOCUS LABELS
 * -----------------------------------------------------------------------------------------------
 */

.control-label {
	background: $input-border-color;
	margin: 0;
	margin-left: 5px;
	padding: 5px 8px;
	line-height: 1;
	@include border-top-radius( $border-radius );
	transition: all .15s ease-in-out;
}

.form-group-focus {
	.label-focus {
		background: $input-focus-border-color;
		color: $white;
		transition: all .15s ease-in-out;
	}

	.input-group-text {
		border-color: $input-focus-border-color;
		transition: all .15s ease-in-out;
		color: $white;
		background: theme-color-level( 'purple', -4 );
	}
}

.field-error {
	font-size: 0.9em;
	font-weight: normal;
	white-space: pre-wrap;
	text-align: left;
	margin-top: 5px;
	line-height: 1.3;
}

.full-field-error {
	> label.control-label {
		background: $red;
		color: $white;
	}

	input, select, textarea, .checkbox-group, .select2-selection--single {
		border-color: $red !important;
	}

	.input-group-text {
		border-color: $red;
		transition: all .15s ease-in-out;
		color: $white;
		background: theme-color-level( 'danger' );
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * PROFILE
 * -----------------------------------------------------------------------------------------------
 */

.avatar-big, .picture-big {
	@include border-radius( 50% );
	border: 5px solid lighten( $blue, 20% );
	padding: .2rem;
}

/**
 * -----------------------------------------------------------------------------------------------
 * GROUP OF CHECKBOXES
 * -----------------------------------------------------------------------------------------------
 */

.checkbox-group {
	padding: $input-padding-y $input-padding-x;
	@include border-radius( $input-border-radius );
	border: $input-border-width $input-border-color solid;
}

/**
 * -----------------------------------------------------------------------------------------------
 * MULTIPLE FILES TABLE
 * -----------------------------------------------------------------------------------------------
 */

#files-card, #products-card, #users-card, #order-card {
	.table {
		margin: 0;

		thead, tfoot {
			th {
				padding: $table-cell-padding-sm $table-cell-padding;
			}
		}

		thead { 
			th {
				border-top: none;
			} 
		}

		td {
			&.action-buttons {
				padding: .6rem .75rem;
			}			
		}

		.btn {
			padding: .4rem .35rem .35rem;
			line-height: 1;
			font-size: $font-size-sm - 0.1;
			width: 2.2rem;
		}
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * PRODUCTS TWEAKS
 * -----------------------------------------------------------------------------------------------
 */

body.products {
	.card {
		.card-body {
			select + { @include select2-height( 35px ) };

			// Arrangeable items
			.arrangeable-item {
				padding: 5px;
				cursor: move;
				border: 1px solid $gray-400;
				margin-top: 5px;
				border-radius: .25em;

				.thumb {
					$square: 64px;
					width: $square;
					height: $square;
				}

				p {
					margin: 0;

					&:not(:first-child) {
						margin-top: .175em;
					}

					&.text-small {
						font-size: $font-size-base * .75;
					}
				}
			}

			// jQuery defaults
			.ui-sortable-placeholder {
				background: lighten( $purple, 43% );
				border: 1px dashed $gray-500;
				visibility: visible !important;
			}
		}
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * MOVEMENTS TWEAKS
 * -----------------------------------------------------------------------------------------------
 */

body.movements {
	.card {
		.card-body {
			select#label + { @include select2-height( 42px ) };
			select#book + { @include select2-height( 38px, $font-size-sm ) };
			select#assignee + { @include select2-height( 38px, $font-size-sm ) };
		}
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * PURCHASES TWEAKS
 * -----------------------------------------------------------------------------------------------
 */

body.purchases {
	.card {
		.card-body {
			select#provider + { @include select2-height( 44px, $h5-font-size ) };

			// Dates fix
			@include media-breakpoint-down( sm ) {
				#delivery_date {
					margin-bottom: 1rem;
				}
			}
		}

		.product-list {
			.total-amount-row {
				td {
					// padding: .25rem 0;

					input {
						height: 2.5rem;
					}

					.input-group-text {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * ORDERS TWEAKS
 * -----------------------------------------------------------------------------------------------
 */

body.orders {
	.card {
		.card-body {
			select#client_id + { @include select2-height( 44px, $h5-font-size ) };
		}

		.product-list {
			.total-amount-row {
				td {
					// padding: .25rem 0;

					input {
						height: 2.5rem;
					}

					.input-group-text {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}

	#dates-card {
		select#seller_id + { @include select2-height( 35px, $font-size-sm ) };
	}

	// Modal add product tweak
	#modal-add-product {
		select#modal_product_id + { @include select2-height( 44px, $h5-font-size ) };		
	}	
}

/**
 * -----------------------------------------------------------------------------------------------
 * STOCK TWEAKS
 * -----------------------------------------------------------------------------------------------
 */

body.stock {
	.card {
		ol.list-group {
			list-style-position: outside;
			padding-left: 1.75em;
			background: $gray-200;

			.list-group-item {
				padding: ( $list-group-item-padding-y/1.5 ) ( $list-group-item-padding-x/1.5 );
				display: list-item;
				border-color: $gray-200;
			}
		}

		.card-body {
			select#product_id + { @include select2-height( 44px, $h5-font-size ) };
		}
	}

	.fullname {
		text-transform: uppercase;
		font-weight: bold;
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * POS TWEAKS
 * -----------------------------------------------------------------------------------------------
 */

body.pos {
	.card {
		.card-body {
			select#user_id + { @include select2-height() };
		}
	}

	#categories-card {

		// Help keep column elements in line and use your freaking finger to scroll vertically. Ups..
		.columns-overflow {
			@include media-breakpoint-down( md ) {
				overflow: scroll;

				> div {
					min-width: breakpoint-min( md, $grid-breakpoints );
				}			
			}
		}

		.categories-list-dropdown {
			min-height: 250px;
		}

		.buttons {
			display: flex;
			align-items: center;
		}

	}
}


/**
 * -----------------------------------------------------------------------------------------------
 * PRINT ORDERS TWEAKS
 * -----------------------------------------------------------------------------------------------
 */

body.print_orders {
	.card {
		.card-body {
			select#pos_id + { @include select2-height() };
		}
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * SALES TWEAKS
 * -----------------------------------------------------------------------------------------------
 */

body.sales-add, body.sales-edit, body[class*=sales-add-], body[class*=sales-edit-] {
	.card {
		.card-body {
			select#pos_id + { @include select2-height( 38px, $font-size-sm ) };
			select#seller_id + { @include select2-height( 38px, $font-size-sm ) };
		}
	}

	#pos-card {
		.btn {
			padding: .4rem .35rem .35rem;
			line-height: 1;
			font-size: $font-size-sm - 0.2;
			width: 2.2rem;
		}

		.bill-number-row {
			.form-group {
				margin-bottom: $spacer / 2.5;
			}
		} 
	}

	#client-card {
		.table {
			border-right: 1px solid $gray-300;

			tr:first-child {
				th, td {
					border-top: none;
				}
			}
		}
	}

	#products-card {
		.order-brief {
			padding: .4rem .35rem .35rem;
			line-height: 1;
			font-size: $font-size-sm - 0.2;
			width: 2.2rem;
			margin-top: -4px;
		}

		.product-list {
			.total-amount-row {
				td {
					input {
						height: 2.5rem;
					}

					.input-group-text {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}

	#errors-card {
		.field-error {
			margin: 3px;
		}
	}

	#order-missing-alert {
		.product-list-columns {
			padding: $spacer;
			padding-top: 0;
			padding-bottom: 0;
			column-count: 3;
			column-gap: $spacer*3;
			margin-bottom: -($spacer/3);

			li {
				margin-bottom: $spacer/2;
				list-style: none;

				&::before {
					font-family: 'Font Awesome 5 Free';
					content: '\f00d';
					font-weight: 700;
					color: $red;
					margin: 0 7px 0 -17px;
				}
			}

			@include media-breakpoint-down( md ) {
				column-count: 2;
			}
		}
	}

	.bill-number-tag {
		font-size: $font-size-sm - 0.15;
	}

	.bill-number-output {
		font-family: $font-family-monospace;
		font-size: $h6-font-size;
		color: $red;
	}

	.modal {
		select#modal_product_id + { @include select2-height( 44px, $h5-font-size ) };		
		select#modal_client_id + { @include select2-height( 44px, $h5-font-size ) };

		/**
		 * DROPDOWN MENU FONT SIZE
		 */
		.dropdown-menu {
			font-size: $font-size-sm;
		}
	}

	select#product_selection + { @include select2-height( 38px, $font-size-sm ) };

	.select2-option-wrapper {
		.select2-thumbnail {
			max-width: 42px;
			height: auto;
			margin-right: 5px;
		}

		code {
			color: inherit;
		}
	}
}