/**
 * --------------------------------------------------------------------------------------
 * TITLES
 * --------------------------------------------------------------------------------------
 */

#main-screen-titles {
	.main-controller-name {
		background: $gray-700;
		color: $white;
		display: inline-block;
		font-weight: 300;
		font-size: $h6-font-size;
		padding: ( $spacer/3 ) ( $spacer/2 );
	}

	.main-page-title {
		display: inline-block;
		@include gradient-directional( $pink, darken( $purple, 10% ), 120deg );
		font-weight: 600;
		color: $white;
		font-size: $h6-font-size;
		padding: ( $spacer/3 ) ( $spacer/2 );
	}

	.title-tools {
		display: inline-block;

		.btn-sm {
			font-size: $font-size-sm - .03;
			margin-top: -.2rem;
		}
	}

	.welcome-title {
		color: $gray-700;
		font-weight: 200;

		span {
			display: inline-block;
			border-bottom: 4px solid $gray-200;
			padding-bottom: 5px;
		}
	}
}