/**
 * -----------------------------------------------------------------------------------------------
 * LISTS DEFAULT ELEMENTS
 * -----------------------------------------------------------------------------------------------
 */

@mixin fix-my-table {
	thead, tfoot {
		th {
			padding: $table-cell-padding-sm $table-cell-padding;
		}
	}

	thead { 
		th {
			border-top: none;
		} 
	}

	td, th {
		// vertical-align: middle;
		white-space: nowrap;

		/*
		 * AVATARS
		 */
		&.user-picture {
			padding: .45rem .75rem;
			padding-right: 0;
			padding-bottom: 0;

			img {
				@include border-radius( 50% );
				height: 32px;
				width: 32px;
				border: 2px solid $gray-300;
				margin: 0;
			}
		}

		/*
		 * ACTION BUTTONS
		 */ 
		&.action-buttons {
			padding: .6rem .75rem;
		}

		&.text-wrap {
			white-space: normal !important;
		}

		/**
		 * DROPDOWN MENU FONT SIZE
		 */
		.dropdown-menu {
			font-size: $font-size-sm;
		}
	}

	.btn {
		padding: .4rem .35rem .35rem;
		line-height: 1;
		font-size: $font-size-sm - 0.1;
		width: 2.2rem;

		&.dropdown-toggle {
			&:after {
				margin-left: 0;
				// margin-right: 5px;
			}
		}
	}
}

.lists-table {
	margin: .5rem 0 1.5rem;
	background: $white;
	@include border-radius( 0 );
	@include box-shadow( 0 1px 3px rgba( $black, 0.2 ) );

	.table {
		margin: 0;
		@include fix-my-table;
	}	
}

.product-list {
	@include fix-my-table;
}

.no-content {
	padding: 5rem 0;
	color: $gray-500;
	font-size: $h4-font-size;
	text-shadow: 0 1px 1px rgba( $white, 1 );
}

/**
 * -----------------------------------------------------------------------------------------------
 * LISTS FOOTER TOOLS
 * -----------------------------------------------------------------------------------------------
 */

.lists-tools {
	.page-navigation {
		.pagination {
			margin-bottom: 0;
			font-size: $font-size-sm - 0.1;

			.page-link {
				padding: .35rem .75rem;
			}

			.page-item {
				&:not([class$="active"]) {
					.page-link {
						color: $purple;
					}
				}

				&.active {
					.page-link {
						border-color: $purple;
					}
				}
			}
		}
	}
}
