/**
 * MAIN MENU
 */

#topbar {
	background: $gray-100;
	padding: 0;

	@include media-breakpoint-down( md ) {
		overflow-y: scroll;
		max-height: 100%;
		z-index: $zindex-fixed + 1;
	}

	// Normal Icon
	@mixin fas-normal {
		font-size: $h5-font-size;
		width: 36px;
		height: 36px;
		line-height: 36px;
		display: inline-block;
		text-align: center;
		background: $gray-700;
		margin-right: 10px;
		@include border-radius( 50% );
	}

	@mixin subtitle()
	{
		margin: ( $dropdown-item-padding-x/2 ) 0 1px;
		padding: ( $dropdown-item-padding-x/3 ) ( $dropdown-item-padding-x );
		font-size: $font-size-sm - 0.08;
		font-weight: bold;
		text-transform: uppercase;
		color: lighten( $purple, 10% );
	}

	/**
	 * BEFORE BREAK
	 */
	
	#controller-menu {
		@include media-breakpoint-up( lg ) {
			position: fixed;
			z-index: $zindex-fixed;
			left: 0;
			top: 0;
			bottom: 0;
			width: auto;
			background: $gray-800;

			li.nav-item {				
				> a {
					display: flex;
					align-items: center;

					&:hover {
						color: $white;
					}
				}

				.dropdown-toggle:after {
					transform: rotate( -90deg );
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -2px;
				}

				.dropdown-menu {
					left: 97%;
					top: -1px;

					h4 {
						font-weight: 200;
						font-size: $h6-font-size;
						padding: ( $dropdown-item-padding-y + 0.3 ) $dropdown-item-padding-x;
						line-height: 1;
						color: #FFF;
						margin: -( $dropdown-padding-y - 0.05 ) 1px 1px;
						@include gradient-y( $pink, darken( $purple, 10% ) );
						@include border-top-radius( $border-radius );
					}

					h5 { @include subtitle; }

					a {
						&:active {
							color: $white;
						}
					}
				}
			}

			.menu-text-label {
				transition: margin linear 0.2s, text-indent linear 0.2s;
				display: inline-block;
				text-indent: -150px;
				overflow: hidden;
				margin-right: 5px;
				font-size: $h6-font-size;

			}

			&:hover .menu-text-label {
				transition: margin linear 0.2s, text-indent linear 0.2s;
				margin-right: 20px;
				text-indent: 0;
			}			
		}

		.nav-item {
			> a {
				i.fas {
					@include fas-normal;
				}
			}
		}

		li.show, li.active {
			> a {
				i.fas {
					color: $gray-800;
					background: $gray-200 !important;
				}
			}
		}
	}

	// Hide dropdown header when on mobile menu
	@include media-breakpoint-down( md ) {
		.dropdown-menu {
			h4 {
				display: none;
			}

			h5 { @include subtitle; }
		}
	}

	// Active list item for navbar
	.navbar-nav {
		li.show, li.active {
			> a {
				background: rgba( $white, 0.1 );
			}
		}
	}

	// Dropdown menu resets
	.dropdown-menu {
		font-size: $font-size-sm;

		@include media-breakpoint-down( md ) {
			border-radius: 0;
			border-top: 0;
			border-left: none;
			border-right: none;
		}
	}

	// Toggler

	.navbar-toggler {
		border: none;
		padding: $nav-link-padding-y $nav-link-padding-x;

		.fas {
			font-size: $h3-font-size;
			line-height: $h3-font-size;
			position: relative;
  		}

		&:active, &:focus {
			box-shadow: none;
			outline: none;
		}

		&.collapsed {
			.fa-bars {
				display: block;
			}

			.fa-times {
				display: none;
			}
		}

		&:not(.collapsed) {
			.fa-bars {
				display: none;
			}

			.fa-times {
				display: block;
			}
		}
	}

	// Company Name
	
	.navbar-brand {
		color: rgba( $white, 1 );
		text-align: center;
		line-height: 1;
		margin-right: 0;
		font-weight: bold;
		letter-spacing: -.05rem;
		line-height: $h3-font-size;
		padding: $nav-link-padding-y $nav-link-padding-x;

		@include media-breakpoint-up( lg ) {
			display: none;
		}
	}

	// Logout button
	
	#logout {
		a {
			background: $red;
			color: $white;

			&:hover {
				background: darken( $red, 10% );

				* {
					color: $white;
				}
			}
		}
	}

	// User menu

	#user-menu {
		#dropdown-profile {
			min-width: 17rem;
		}

		.dropdown-menu {
			top: 90%;
			// right: -5px;
		}

		.nav-item {
			padding: 0;
			margin: 0;

			> a {
				padding: ( $nav-link-padding-y ) ( $nav-link-padding-x );
				display: block;

				&:hover {
					color: $white;
				}

				.fas {
					display: inline-block;
					margin-right: 5px;
				}
			}
		}

		.username {
			padding: $dropdown-item-padding-y $dropdown-item-padding-x;
			@include make-row();
			@include clearfix;

			img.rounded-avatar {
				@include border-radius( 50% );
				height: 64px;
				width: 64px;
				border: 2px solid lighten( $blue, 20% );
				padding: .2rem;
				margin: 0 .25rem .25rem 0;
			}

			.user-fullname, .user-role {
				display: block;
			}

			.user-role {
				font-size: $font-size-sm;
				color: $gray-500;
			}
		}
	}

	/**
	 * AFTER MOBILE BREAK
	 *
	 * Just plain bootstrap default momentarily
	 */
	
	@include media-breakpoint-down( md ) {
		.nav-item {
			.nav-link {
				padding-left: $navbar-padding-x;
				padding-right: $navbar-padding-x;				
			}

			i.fas {
				@include fas-normal;
			}
		}

		// Icons in active state
		
		li.show, li.active {
			> a {
				i.fas {
					color: #FFF;
					background: $gray-800 !important;
				}
			}
		}

		// Logout button icon special
		#logout {
			i.fas {
				color: $red;
				background: $white;
			}
		}
	}
}

/**
 * -------------------------------------------------------------------------------------
 * MAIN WRAPPER PADDING WHEN MENU IS ON THE LEFT
 * -------------------------------------------------------------------------------------
 */

#main-content-wrapper {
	padding-top: 50px;
	
	@include media-breakpoint-up( lg ) {
		padding-left: $controller-menu-width;
	}

	@include media-breakpoint-down( md ) {
		padding-top: 70px;
	}
}
