/**
 * -----------------------------------------------------------------------------------------------
 * MODAL DEFAULTS
 * -----------------------------------------------------------------------------------------------
 */

.modal {
	.modal-content {
		border: 0;
	}

	.modal-title {
		.fa {
			font-size: 1.2rem;
			display: inline-block;
			margin-right: .4rem;
		}
	}

	.modal-body {
		*:last-child {
			margin-bottom: 0;
		}
	}

	.modal-header, .modal-footer {
		padding: 0.5rem 1rem;

		.close {
			padding: 0.5rem 1rem;
			margin: -0.4rem -1rem -0.5rem 0;
		}
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * MODAL ALERT
 * -----------------------------------------------------------------------------------------------
 */

#modal-alert {
	$modal-theme-color: "warning";

	.modal-content {
		background: theme-color-level( $modal-theme-color, -11 );
	}

	.modal-header {
		background: theme-color-level( $modal-theme-color, -9 );		

		.modal-title {
			color: theme-color-level( $modal-theme-color, 3 );

			.fa {
				color: theme-color-level( $modal-theme-color, 5 );
			}
		}
	}

	.modal-header, .modal-footer {
		padding-top: .7rem;
		padding-bottom: .7rem;
		border: 0;
		// border-color: theme-color-level( $modal-theme-color, -8 );
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * MODAL CONFIRM
 * -----------------------------------------------------------------------------------------------
 */

#modal-confirm {
	$modal-theme-color: "info";

	.modal-content {
		background: theme-color-level( $modal-theme-color, -11 );
	}

	.modal-header {
		background: theme-color-level( $modal-theme-color, -9 );		

		.modal-title {
			color: theme-color-level( $modal-theme-color, 3 );

			.fa {
				color: theme-color-level( $modal-theme-color, 5 );
			}
		}
	}

	.modal-header, .modal-footer {
		padding-top: .7rem;
		padding-bottom: .7rem;
		border: 0;
		// border-color: theme-color-level( $modal-theme-color, -8 );
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * MODAL BRIEF
 * -----------------------------------------------------------------------------------------------
 */

#modal-brief, #brief-wrapper {
	.element-group {
		position: relative;
		padding: 5px 0;

		&:after {
			content: ' ';
			display: block;
			position: absolute;
			background: $gray-200;
			height: 1px;
			left: 15px;
			bottom: 0;
			right: 15px;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		.full-name {
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	h4 {
		font-weight: 300;
		font-size: $h4-font-size - .2;
		margin-bottom: .75rem;
		padding-bottom: 5px;
		color: $gray-500;
		border-bottom: 2px solid $gray-200;
		display: inline-block;
	}

	// Last activity -----------------
	.last-activity {
		margin-top: .5rem;
		margin-bottom: -1rem;

		.col {
			background: $gray-100;
			margin-bottom: 0;
			
			> div {
				padding: .35rem 0;
			}

			p {
				margin: .35rem 0;
				line-height: 1;

				&.label {
					color: $blue;
				}

				&.value {
					small {
						white-space: nowrap;
						color: $gray-600;
						margin-top: .35rem;
						display: inline-block;
					}
				}
			}
		}
	}

	.modal-header {
		background: transparent;
		border: 0;
		padding: 0;

		.close, .modal-title {
			text-shadow: none;
		}

		.close {
			padding: 0 1rem;
			line-height: 40px;
			margin: 0;
		}

		.modal-title {
			font-weight: 300;
			position: relative;
			@include gradient-directional( $pink, darken( $purple, 10% ), 120deg );
			display: inline-block;
			padding: .75rem 1rem;
			line-height: 1;
			color: $white;
			border-bottom-right-radius: $modal-content-border-radius;
		}
	}

	.modal-content {
		overflow: hidden;
	}

	.modal-footer {
		// background: rgba( $black, 0.1 );		
		border: 0;
	}

	// Pictures on mobile screen
	
	@include media-breakpoint-down( md ) {
		.picture-big-container {
			margin-top: -2rem; 

			img {
				max-height: 20vh;
				max-width: 20vh;
			}
		}
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * MODAL XL
 * -----------------------------------------------------------------------------------------------
 */

.modal-xl {
	max-width: 90%;
}

/**
 * -----------------------------------------------------------------------------------------------
 * MODAL DEFAULT TWEAKS (the ones for specific tasks, like search client, add product and so)
 * -----------------------------------------------------------------------------------------------
 */

.modal-default {
	.modal-header {
		position: relative;

		&:before {
			content: '\2023';
			font-size: 2rem;
			position: absolute;
			top: -8%;
			left: $modal-header-padding-y - 0.08;
			color: darken( $pink, 10% );
		}

		.modal-title {
			padding-left: $modal-header-padding-y;
			font-weight: 300;
			color: $purple;
		}
	}
}

/**
 * -----------------------------------------------------------------------------------------------
 * MODAL SET QUANTITY ON SALE
 * -----------------------------------------------------------------------------------------------
 */

#modal-set-quantity, 
#modal-edit-magnitude-quantity, 
#modal-edit-magnitude-price, 
#modal-edit-magnitude-remaining {
	.modal-body {
		h5 {
			font-weight: 300;
			color: $gray-800;
			line-height: 1.4;
		}		
	}
}