/**
 * --------------------------------------------------------------------------------
 * MISC
 * --------------------------------------------------------------------------------
 */

body {
	font-size: $font-size-sm;
	background: $gray-100;
}

/**
 * --------------------------------------------------------------------------------
 * FORM RESETS
 * --------------------------------------------------------------------------------
 */

.form-control {
	&:not(.form-control-lg) {
		font-size: $font-size-sm;
	}

	&[readonly] {
		background: $white;
	}

	// pickerdate active tweak
	&.picker__input.picker__input--active {
		border-color: $gray-400;
	}

	// Remove active box-shadow border
	&:active, &:focus {
		box-shadow: none;
	}
}

.btn, button {
	&:focus, &:active {
		box-shadow: none !important;
		outline: none !important;		
	}
}

.close {
	&:focus, &:active {
		box-shadow: none !important;
		outline: none !important;		
	}
}

.tooltip {
	font-size: $font-size-sm - 0.15;
}

.input-group-text {
	font-size: $font-size-sm - 0.05;
}

/**
 * --------------------------------------------------------------------------------
 * SELECT 2 MIXIN
 * --------------------------------------------------------------------------------
 */

@mixin select2-height( $height: 38px, $font-size: $font-size-sm, $color: $input-color, $font-weight: normal ) {
	.select2 {
		.select2-selection {
			font-size: $font-size;
			height: $height;
			background: #FFF;
			border-color: $input-border-color;

			.select2-selection__rendered {
				line-height: $height - 2;
				font-weight: $font-weight;
				color: $color;
			}

			.select2-selection__arrow {
				height: $height - 2;
			}
		}
	}
}

.select2-container--open {
	outline: 0;
	border-color: $input-focus-border-color;

	.select2-selection {
		background: #FFF;
		border-color: $input-focus-border-color !important;
	}

	.select2-dropdown {
		border-color: $input-focus-border-color !important;
		background: #FFF;
	}

	.select2-results__option[aria-selected=true] {
		background: #EEE;
		color: #000;
	}
		
	.select2-results__option--highlighted[aria-selected] {
		color: $white;
		background: theme-color-level( 'purple', -2 );
	}
}

.select2-selection__placeholder {
	font-style: italic;
	font-weight: 200;
}

/**
 * --------------------------------------------------------------------------------
 * PICKER DATE TWEAKS
 * --------------------------------------------------------------------------------
 */

.picker__select--year, .picker__select--month {
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	//line-height: 1.5;
	height: 2em;
}