@import "../bower_components/bootstrap/scss/functions";
@import "../bower_components/bootstrap/scss/variables";

/**
 * --------------------------------------------------------------------------------
 * BOOTSTRAP IMPORT AND VARS OVERRIDE
 * --------------------------------------------------------------------------------
 */

$theme-colors : (
	"purple" : $purple
);

$component-active-bg: darken( $purple, 10% );

$enable-shadows:				true;
$enable-gradients:				true;
$enable-transitions:			true;
$enable-responsive-font-sizes:	true;

$active-color: #FF9;

@import "../bower_components/bootstrap/scss/bootstrap";

@import "resets";
@import "alerts";


body, html {
	height: 100%;
}

body {
	color: rgba( $white, 0.6 );
	background-size: cover;

	a {
		color: rgba( $white, 1 );

		&:hover {
			color: $active-color;
		}
	}

	&.bg-1 { background-image: url( '../img/bg-1.jpg' ); }
	&.bg-2 { background-image: url( '../img/bg-2.jpg' ); }
	&.bg-3 { background-image: url( '../img/bg-3.jpg' ); }
}

.bg {
	z-index: 5;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.75;
	@include gradient-directional( $pink, darken( $purple, 10% ), -220deg );
}

.container-fluid {
	position: relative;
	z-index: 10;
	height: 100%;
}

.login-logo {
	margin: 0 auto 20px;
	width: 90%;
	max-width: 400px;
	text-align: center;
	font-weight: bold;
	color: rgba( $white, 0.6 );
}

.login-box {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	padding: 10px 20px 20px;
	margin-bottom: 20px;
	background: transparent;
	font-size: $font-size-sm;
	border: $border-width solid rgba( $white, 1 );
	@include border-radius( $border-radius );

	h2 {
		font-weight: 200;
		color: $active-color;
		margin-top: ( $spacer / 2 );
		position: relative;
		text-align: center;
		font-size: $h3-font-size;
	}

	form {
		label.control-label {
			font-size: $h5-font-size;
			line-height: $font-size-sm;
			margin: 0;
			color: rgba( $white, 0.6 );
			font-style: italic;
			font-weight: 200;
			transform: translate( 0.5rem, 250% );
			@include transition( 0.3s ease all );

			small {
				font-size: $font-size-sm;
				font-weight: 200;
			}
		}

		label.label-focus {
			color: $active-color;
			font-style: normal;
			@include transition( 0.3s ease all );
		}

		label.label-focus, label.has-content { // positioning
			box-shadow: none;
			font-size: $font-size-sm;
			transform: translateY( 0% );

			small {
				font-size: $font-size-sm - 0.1;
			}
		}

		label.has-content {
			font-style: normal;
		}

		input[type="text"], input[type="password"] {
			font-weight: 300;
			height: auto;
			line-height: 1;
			margin-top: -.1rem;
			font-size: $h4-font-size;
			background: transparent;
			color: $white;
			border-color: $white;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-radius: 0;
			box-shadow: none;

			&:active, &:focus {
				box-shadow: none;
				color: $active-color;
				border-color: $active-color;
			}
		}
	}
}

.login-copyright {
	text-align: center;
	font-size: $font-size-sm;
}
