@import "../bower_components/bootstrap/scss/functions";
@import "../bower_components/bootstrap/scss/variables";

/**
 * --------------------------------------------------------------------------------
 * BOOTSTRAP IMPORT AND VARS OVERRIDE
 * --------------------------------------------------------------------------------
 */

// $theme-colors : (
// );

$theme-colors: map-merge(
  (
	"purple": $purple
  ),
  $theme-colors
);

// Override the active status
$component-active-bg: 							darken( $purple, 10% ); // Main one
$input-btn-focus-color:							rgba( $component-active-bg, .25 );
$input-focus-border-color: 						lighten( $component-active-bg, 25% );
$custom-control-indicator-checked-bg: 			$component-active-bg;
$custom-control-indicator-active-bg:			lighten( $component-active-bg, 35% );
$custom-checkbox-indicator-indeterminate-bg:	$component-active-bg;
$custom-range-thumb-bg:							$component-active-bg;
$custom-range-thumb-active-bg:					lighten( $component-active-bg, 35% );
$nav-pills-link-active-bg:						$component-active-bg;
$dropdown-link-active-bg:						$component-active-bg;
$pagination-active-bg:							$component-active-bg;
$list-group-active-bg:							$component-active-bg;

// Booleans
$enable-shadows:				true;
$enable-gradients:				true;
$enable-transitions:			true;
$enable-responsive-font-sizes:	true;

@import "../bower_components/bootstrap/scss/bootstrap";

/**
 * --------------------------------------------------------------------------------
 * EXTRA VARS
 * --------------------------------------------------------------------------------
 */

$controller-menu-width: 67px;

/**
 * --------------------------------------------------------------------------------
 * INCLUDES
 * --------------------------------------------------------------------------------
 */

@import "resets";
@import "alerts";
@import "main-menu";
@import "header";
@import "forms";
@import "lists";
@import "modals";
