/**
 * BILL
 */

page.bill {
	font-size: 8pt;

	div.header {
		position: relative;
		height: 30mm;

		div.blocks {
			top: 0;
			position: absolute;
		}

		div.logo {
			width: 37mm;
		}

		div.company-info {
			width: 104mm;
			left: 40mm;
			font-size: 7pt;

			h4, h5 {
				margin: 0 0 1mm;
			}

			h5 {
				color: #888;
			}

			p {
				margin: 0 0 .5mm;
				color: #333;
			}
		}

		div.print-order {
			width: 50mm;
			right: 0;
			border: 0.5pt solid #555;
			padding: 1.5mm;
			font-size: 6pt;

			p {
				margin: 0 0 .3mm;
			}

			.print-order-data {
				margin-bottom: 1mm;
			}

			.labels {
				position: relative;
				color: #FFF;
				height: 6mm;

				div {
					position: absolute;
					top: 0;
					background: #555;
					text-align: center;
					padding: 1mm 0;
				}

				.document-type {
					width: 27mm;
					left: -1.5mm;
					font-size: 13.5pt;
					font-weight: bold;
				}

				.company-ruc {
					$padding: 2mm;
					width: 29mm;
					right: -1.5mm;
					font-size: 8.5pt;
					padding-top: $padding;
					padding-bottom: $padding;
				}
			}

			.bill-number {
				margin-top: 2mm;
				text-align: center;
				font-size: 13.5pt;

				.number {
					font-weight: bold;
					color: #B00;
					font-size: 14.5pt;
				}
			}
		}
	} 

	div.customer {
		position: relative;
		left: -1mm;
		margin-bottom: 2mm;

		table {
			width: 190mm;
			position: relative;

			td {
				border-left: none;
				padding: 1mm 0.75mm;

				&.tag {
					background: #DDD;
					border-bottom: 0.5pt solid #888;
					border-right: 0.5pt solid #888;
				}

				&.value {
					font-size: 9pt;
				}
			}
		}

		table.first {
			td {
				&.col-1 { width: 35mm; }
				&.col-2 { width: 106.8mm; }
				&.col-3 { width: 16mm; }
				&.col-4 { width: 25.6mm; }
			}
		}

		table.second {
			position: relative;
			top: -1mm;

			td {
				&.col-1 { width: 20.8mm; }
				&.col-2 { width: 20.8mm; }
				&.col-3 { width: 20.8mm; }
				&.col-4 { width: 20.8mm; }
				&.col-5 { width: 20.8mm; }
				&.col-6 { width: 20.8mm; }
				&.col-7 { width: 20.8mm; }
				&.col-8 { width: 20.8mm; }
			}
		}
	}

	div.products {
		position: relative;
		margin-bottom: 2mm;

		table.products-list {
			border-top: .5pt solid #555;
			border-left: .5pt solid #555;

			th {
				vertical-align: middle;

				&.col-4,
				&.col-5,
				&.col-6 {
					text-align: center;
				}

				&.values-title {
					text-align: center;
				}

				&.subtotals-title {
					text-align: right;
				}
			}

			td, tfoot th {
				&.col-3,
				&.col-4,
				&.col-5,
				&.col-6 {
					text-align: right;
				}
			}

			td, th {
				border-bottom: .5pt solid #555;
				border-right: .5pt solid #555;
				padding: 1mm;

				&.col-1 { width: 12mm; }
				&.col-2 { width: 66.6mm; }
				&.col-3 { width: 20mm; }
				&.col-4,
				&.col-5,
				&.col-6 { width: 25mm; }
			}

			tfoot th {
				&.col-4,
				&.col-5,
				&.col-6 { 
					background: #DDD;
				}
			}
		}
	}

	div.totals {
		position: relative;
		margin-bottom: 2mm;

		table {
			border-top: .5pt solid black;
			border-left: .5pt solid black;

			td {
				border-right: .5pt solid black;
				border-bottom: .5pt solid black;
				padding: 1mm;

				&.total-number {
					width: 48mm;
					position: relative;

					.value {
						width: 50.6mm;
						text-align: right;
						right: -30mm;
						bottom: 11mm;
						font-size: 13pt;
						font-weight: bold;
					}

					.currency {
						color: #777
					}
				}

				&.total-letters {
					width: 116.8mm;
					font-size: 9pt;
				}

				&.tags {
					width: 22mm;
				}
			}
		}

		.tax-labels {
			font-weight: bold;
			color: #444;
		}

		.tax-values {

		}
	}
}